Source: harmattan-power-menu
Section: user/utilities
Priority: optional
Maintainer: Mohammad Abu-Garbeyyeh <mohammad7410@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3

Package: harmattan-power-menu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Extended Power Menu for Harmattan
 Double click the power button for more options!
XSBC-Maemo-Display-Name: Extended Power Menu
